<!-- Clock Markings -->
<div class="clock__markings">
  <div class="clock__hour"
    *ngFor="let hourNum of hoursList"
    [style.transform]="getHourPosition(hourNum)"></div>
  <div class="clock__minute"
    *ngFor="let minute of minutes"
    [style.transform]="getMinutePosition(minute)"></div>
</div>

<div class="clock__time-container" *ngIf="displayData$ | async as data">
  <!-- Dots -->
  <div class="clock__time clock__time-now"
    (window:resize)="onResize($event)"
    [style.transform]="(nowData$ | async)?.dotPosition"></div>
  <div class="clock__time clock__time-solar-noon"
    [style.transform]="data.solarNoon.dotPosition"></div>
  <div class="clock__time clock__time-nadir"
    [style.transform]="data.nadir.dotPosition"></div>

  <!-- Labels -->
  <div *ngIf="data.sunrise as sunrise" class="clock__label_text" [style.transform]="sunrise.position">
    <div *ngIf="data.sunrise.time !== null">{{ data.sunrise.time | date:"h:mma" }}</div>
    <div>{{ data.sunrise.time === null ? "No " : "" }}Sunrise</div>
  </div>
  <div *ngIf="data.sunset as sunset" class="clock__label_text" [style.transform]="sunset.position">
    <div *ngIf="data.sunset.time !== null">{{ data.sunset.time | date:"h:mma" }}</div>
    <div>{{ data.sunset.time === null ? "No " : "" }}Sunset</div>
  </div>
  <div *ngIf="data.solarNoon as solarNoon" class="clock__label_text" [style.transform]="solarNoon.position">
    <div>{{ data.solarNoon.time | date:"h:mma" }}</div>
    <div>Solar Noon</div>
  </div>
  <div *ngIf="data.nadir as nadir" class="clock__label_text" [style.transform]="nadir.position">
    <div>{{ data.nadir.time | date:"h:mma" }}</div>
    <div>Midnight</div>
  </div>
</div>

<!-- Local time -->
<svg class="clock__local-time"
  *ngIf="nowData$ | async as nowData"
  [attr.viewBox]="nowData.label.viewBox"
  [style.transform]="nowData.label.pathRotate">
  <path id="localTimeLabel" 
    [attr.d]="nowData.label.path"
    [attr.transform]="nowData.label.pathTransform">
  </path>
  <text>
    <textPath href="#localTimeLabel" text-anchor="middle"
      [attr.alignment-baseline]="nowData.label.isAbove ? 'auto' : 'hanging'" 
      [attr.startOffset]="nowData.label.isAbove ? '25%' : '75%'" fill="white">
      {{ nowData.time | date:'h:mm:ssa' | lowercase }} LOCAL TIME
    </textPath>
  </text>
</svg>

<!-- Background -->
<div class="clock__day-segment"
  [style.maskImage]="gradient$ | async"
  [style.maskComposite]="maskMode$ | async">
</div>
<div class="clock__night-segment"></div>
