// Override Sass min()
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}


// Radius
$radius: min(75vw, calc((100vh - 120px) * 0.8));


// Host element
clock:host {
  width: $radius;
  height: $radius;
  min-width: $radius;
  min-height: $radius;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  & *:not(.clock__label_text div) {
    position: absolute;
  }

  div {
    font-family: 'Inter', sans-serif;
  }
}

clock:host * {
  z-index: 10;
}

// Markings
.clock__markings {
  display: flex;
  align-items: center;
  justify-content: center;

  * {
    border-radius: 2px;
    width: 4px;
  }
}

.clock__hour {
  height: 4vmin;
  background-color: #FFFFFF66;
}

.clock__minute {
  height: 2vmin;
  background-color: #FFFFFF33;
}


// Icons
.clock__time-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock__time {
  width: 4vmin;
  height: 4vmin;
  border-radius: 30px;
  filter: blur(2px);
}

.clock__time-solar-noon {
  background-color: #FFF0A0;
}

.clock__time-nadir {
  background-color: #eeeeee;
  box-shadow: 0 0 4px #333333;
}

.clock__time-now {
  width: 2vmin;
  height: 2vmin;
  background-color: #FF6B6B;
  z-index: 100;
  filter: none;
}


// Labels
.clock__label_text {
  font-size: 2.2vmin;
  line-height: 2.4vmin;
  text-wrap-mode: nowrap;
}


// Local time
.clock__local-time {
  font-size: 1.5vmin;
  overflow: visible;
  width: calc($radius + 16px);
  height: calc($radius + 16px);

  // Uncomment to show SVG path
  // path {
  //   stroke: #FF4040;
  //   stroke-width: 4;
  //   stroke-dasharray: 20;
  // }
}


// Background
clock:host .clock__day-segment {
  background-image: radial-gradient(#82BCE6, #5198C2);
  z-index: 5;

  width: $radius;
  height: $radius;
  z-index: 5;
  border-radius: $radius;
}

clock:host .clock__night-segment,
clock:host .clock__stars-segment {
  width: calc($radius - 1px);
  height: calc($radius - 1px);
  border-radius: $radius;
  z-index: 2;
  background-image: radial-gradient(#05090F 18%, #12233D 87%);
}

.clock__night-segment {
  z-index: 2;
  background-image: radial-gradient(#05090F 18%, #12233D 87%);
}

.clock__stars-segment {
  z-index: 1;
  background: red;
}