// Override Sass min()
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

$radius: min(75vw, calc((100vh - 120px) * 0.8));


clock:host {
  border: 2px solid white;
  width: $radius;
  height: $radius;
  min-width: $radius;
  min-height: $radius;
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(0rad, #222222 50%, transparent 50%);
}

.clock__hour {
  background-color: white;
  position: absolute;
  width: 3px;
  height: 2vmin;
}

.clock__time {
  position: absolute;
  width: 5px;
  height: 6vmin;
}

.clock__time-now { background-color: tomato; }
.clock__time-solar-noon { background-color: gold; }
.clock__time-nadir { background-color: #eeeeee; }
