<p>{{ sunrise$ | async }}</p>
<p>{{ sunset$ | async }}</p>
<div class="clock__hour"
    *ngFor="let hourNum of hoursList"
    [style.transform]="getHourPosition('hour', hourNum)"></div>
<div class="clock__time clock__time-now"
    (window:resize)="onResize($event)"
    [style.transform]="nowPosition$ | async"></div>
<div class="clock__time clock__time-solar-noon"
    [style.transform]="solarNoonPosition$ | async"></div>
<div class="clock__time clock__time-nadir"
    [style.transform]="nadirPosition$ | async"></div>
