<p class="clock__label_text"
  [style.transform]="sunrisePosition$ | async">
  {{ sunrise$ | async }}<br/>Sunrise</p>
<p class="clock__label_text"
  [style.transform]="sunsetPosition$ | async">
  {{ sunset$ | async }}<br/>Sunset</p>
<p class="clock__label_text"
  [style.transform]="solarNoonLabelPosition$ | async">
  {{ solarNoon$ | async }}<br/>Solar Noon</p>
<p class="clock__label_text"
  [style.transform]="nadirLabelPosition$ | async">
  {{ nadir$ | async }}<br/>Midnight</p>

<div class="clock__hour"
  *ngFor="let hourNum of hoursList"
  [style.transform]="getHourPosition(hourNum)"></div>
<div class="clock__minute"
  *ngFor="let minute of minutes"
  [style.transform]="getMinutePosition(minute)"></div>

<div class="clock__time clock__time-now"
  (window:resize)="onResize($event)"
  [style.transform]="nowPosition$ | async"></div>
<div class="clock__time clock__time-solar-noon"
  [style.transform]="solarNoonPosition$ | async"></div>
<div class="clock__time clock__time-nadir"
  [style.transform]="nadirPosition$ | async"></div>
