@import '../shared.styles';

place-input:host {
  align-items: center;
  display: grid;
  width: 80%;
  grid-template-rows: auto;

  // Mobile View
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "input input"
    "reset switcher";
  row-gap: 8px;

  // Desktop View
  @media screen and (min-width: 450px) {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "switcher input reset";
    row-gap: 0;
  }

  * {
    cursor: pointer;
    user-select: none;
    justify-self: center;
  }
}

.place-input__reset-button {
  background-color: $button-background;
  color: $button-color;
  grid-area: reset;
  box-shadow: none;  
}

.place-input__container {
  min-width: 80%;
  justify-content: space-evenly;
  display: flex;
  grid-area: input;
  width: 100%;
}

.place-input__lat-long-input {
  max-width: 40%;
  min-width: 80px;
}

.place-input__name-input {
  min-width: 60%;
}

.place-input__switch-input-button {
  display: none;
  grid-area: switcher;
}


// Fix up form field padding
::ng-deep .mat-form-field .mat-form-field-wrapper {
  padding-bottom: 0;
}
