<button mat-button mat-mini-fab
  class="place-input__reset-button"
  (click)="setToStartingPosition()">
  <mat-icon>cached</mat-icon>
</button>

<div class="place-input__container">

  <!-- Latitude / Longitude Input -->
  <ng-container *ngIf="place$ | async as place">
    <ng-container *ngIf="showLatLongInput; else nameInput">
      <mat-form-field appearance="outline" class="place-input__lat-long-input">
        <mat-label>Lat</mat-label>
        <input min="-90" max="90"
          matInput
          type="number"
          [value]="place.latitude | number:'1.1-4'"
          (change)="onLatChange($event)">
      </mat-form-field>
      <mat-form-field appearance="outline" class="place-input__lat-long-input">
        <mat-label>Long</mat-label>
        <input min="-180" max="180"
          matInput
          type="number"
          [value]="place.longitude | number:'1.1-4'"
          (change)="onLongChange($event)">
      </mat-form-field>
    </ng-container>

    <!-- Place Name Input -->
    <ng-template #nameInput>
      <mat-form-field class="place-input__name-input" appearance="outline">
        <mat-label>Where</mat-label>
        <input
          matInput
          type="text"
          [value]="place.name"
          [matAutocomplete]="auto"
          [formControl]="textInputFormControl">
        <!-- <mat-icon matSuffix>pin_drop</mat-icon> -->
        <mat-autocomplete #auto="matAutocomplete"
          (optionSelected)="onLocationSelected($event)"
          [displayWith]="getDescription">
          <mat-option *ngFor="let option of autocompletePlaces$ | async" [value]="option">
            {{ option.description }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </ng-template>

  </ng-container>
</div>

<button mat-button mat-mini-fab color="primary"
  class="place-input__switch-input-button"
  (click)="toggleInputType()">
  <mat-icon *ngIf="showLatLongInput">pin_drop</mat-icon>
  <mat-icon *ngIf="!showLatLongInput">signpost</mat-icon>
</button>
