@import '../shared.styles';
// @import '../../custom-theme.scss';

place-input:host {
  align-items: center;
  display: grid;
  width: 100%;
  grid-template-rows: auto;

  grid-template-columns: 48px auto 4fr auto 48px;
  grid-template-areas: "switcher spacer-1 input spacer-2 reset";
  row-gap: 0;

  * {
    cursor: pointer;
    user-select: none;
    justify-self: center;
  }

  button.mat-button {
    background-color: transparent;
    color: $button-color;
    box-shadow: none !important; // oof

    mat-icon {
      background-color: $button-background;
      border-radius: 20px;
    }
  }
}

.place-input__container {
  min-width: 80%;
  justify-content: space-evenly;
  display: flex;
  grid-area: input;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

.place-input__lat-long-input {
  max-width: 40%;
}

.place-input__name-input {
  min-width: 220px;
  transition: width 0.1s;
}

// Override textbox styles
::ng-deep .place-input__name-input {
  .mat-form-field-prefix,
  .mat-form-field-suffix {
    height: 24px;
  }

  .mat-form-field-infix {
    padding: 8px;
    border: 0;
  }

  .mat-form-field-flex {
    align-items: center;
    border: 1px solid #FFFFFF66;
    border-radius: 100px;
    padding-left: 7px;
    padding-right: 3px;
  }
  
  input {
    text-align: center;
  }

  .mat-form-field-suffix {
    width: 24px;
    // background-color: $button-background;
    border-radius: 20px;

    mat-icon {
      padding-left: 2px;
      padding-top: 1px;
    }
  }

  .mat-form-field-suffix::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100px;
    background-color: $button-background;
    width: 16px;
    height: 16px;
    pointer-events: none;
  }

  .mat-form-field-underline {
    display: none;
  }

  &.mat-focused .mat-form-field-flex {
    border: 2px solid #3f51b5;
  }
}

.place-input__switch-input-button {
  display: none;
  grid-area: switcher;
}

.place-input__reset-button {
  background-color: $button-background;
  color: $button-color;
  grid-area: reset;
  box-shadow: none;  
}

.place-input__spacer-1 {
  grid-area: spacer-1;
}

.place-input__spacer-2 {
  grid-area: spacer-2;
}

// Fix up form field padding
::ng-deep .mat-form-field .mat-form-field-wrapper {
  padding-bottom: 2px;
}

// Override dropdown styles
::ng-deep .cdk-overlay-container {

  .cdk-overlay-pane {
    width: unset !important;
    max-width: 100vw;
  }

  .mat-autocomplete-panel {
    border-radius: 20px;
    background-color: #1D2740CC;
    backdrop-filter: blur(10px);
    border: #FFFFFF66 solid 2px;

    &::-webkit-scrollbar {
      width: 8px;
    }
    
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: #ffffff44;
      border-radius: 20px;
    }
  }

  .mat-option.mat-selected:not(.mat-active):not(:hover) {
    background-color: #fff6;
  }

  .mat-option.mat-active,
  .mat-option:hover:not(.mat-option-disabled), 
  .mat-option:focus:not(.mat-option-disabled) {
    background-color: #fff2;
  }

  font-family: 'Inter', sans-serif;
}