<button #previousDayBtn mat-button mat-mini-fab color="primary"
  class="time-input__previous-day-button"
  (mousedown)="previousDayThenTimeWarp()"
  (touchstart)="previousDayThenTimeWarp()"
  (mouseup)="stopTimeWarp()"
  (mouseout)="stopTimeWarp()"
  (touchend)="stopTimeWarp()">
  <mat-icon>navigate_before</mat-icon>
</button>

<div class="time-input__date-picker">
  <input
    [matDatepicker]="picker"
    [value]="time"
    (dateChange)="onDateChange($event)"
    (click)="picker.open()">
  <mat-datepicker #picker></mat-datepicker>
</div>

<button #nextDayBtn mat-button mat-mini-fab color="primary"
  class="time-input__next-day-button"
  (mousedown)="nextDayThenTimeWarp()"
  (touchstart)="nextDayThenTimeWarp()"
  (mouseup)="stopTimeWarp()"
  (mouseout)="stopTimeWarp()"
  (touchend)="stopTimeWarp()">
  <mat-icon>navigate_next</mat-icon>
</button>