<button mat-button mat-mini-fab color="primary"
  class="time-input__fast-rewind-button"
  (mousedown)="timeWarpBackwards()"
  (touchstart)="timeWarpBackwards()"
  (mouseup)="stopTimeWarp()"
  (touchend)="stopTimeWarp()">
  <mat-icon>keyboard_double_arrow_left</mat-icon>
</button>
<button mat-button mat-mini-fab color="primary"
  class="time-input__previous-day-button"
  (click)="previousDay()">
  <mat-icon>navigate_before</mat-icon>
</button>

<mat-form-field appearance="outline"
  class="time-input__date-picker">
  <mat-label>When</mat-label>
  <input matInput
    [matDatepicker]="picker"
    [value]="time"
    (dateChange)="onDateChange($event)"
    (focus)="picker.open()">
  <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<button mat-button mat-mini-fab color="primary"
  class="time-input__next-day-button"
  (click)="nextDay()">
  <mat-icon>navigate_next</mat-icon>
</button>
<button mat-button mat-mini-fab color="primary"
  class="time-input__fast-forward-button"
  (mousedown)="timeWarpForwards()"
  (touchstart)="timeWarpForwards()"
  (mouseup)="stopTimeWarp()"
  (touchend)="stopTimeWarp()">
  <mat-icon>keyboard_double_arrow_right</mat-icon>
</button>
