<div id="top">
  <span id="fast_backward" class="material-icons">fast_rewind</span>
  <span id="previous_day" class="material-icons">navigate_before</span>
  <p id="time">Now</p>
  <span id="next_day" class="material-icons">navigate_next</span>
  <span id="fast_forward" class="material-icons">fast_forward</span>
</div>

<day id="day">
  <p id="sunrise">Sunrise</p>
  <p id="sunset">Sunset</p>
</day>

<div id="top">
  <span id="lat_down" class="material-icons">remove</span>
  <p id="location">Here</p>
  <span id="lat_up" class="material-icons">add</span>
</div>

<script src="suncalc.js" async defer></script>
<script src="script.js" async defer></script>
